.az{
    background-color: violet;
    text-align: center;
}
.aa{
    background-color: grey;
    text-align: center;
}
.ab{
    background-color: yellow;
    text-align: center;
}
.ac{
    background-color: blue;
    text-align: center;
}
.ad{
    background-color: forestgreen;
    text-align: center;
}